<html>

    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    </head>

    <body>
        <h1 style="font-weight:bold">Flask_SocketIO & ChartJS</h1>
        <hr>
        <canvas id="myChart" width="1000px" height="300px"></canvas>
        <script>
            //Websocket params
            var myroom = "test";
            var namespace = "/livedata";
            var ws_func = "livedash";

            //ChartJS params
            var ytick_min = -1000;
            var ytick_max = 1000;
            var xtick_min = 0;
            var xtick_max = 1000;
            var data_count = 0;
            var canvas = document.getElementById('myChart');


            var data = {
                type:'line',
                labels: ["0","500","1000"],
                datasets: [{
                    data: [],
                    pointRadius: 0,
                    xAxisID: 'x-axis-1',
                    backgroundColor: 'rgba(0, 0, 0, 0)',
                    borderColor: 'rgb(255,100,0)',
                    fill:false,
                 }]
            };

            var option = {
                animation: {
                    duration: 0,                
                },
                hover: {
                    animationDuration: 0,                
                },
                responsiveAnimationDuration: 0, 
                title: {
                    display: false,
                    text: 'Data Streaming'
                },
                legend: {
                     display: false
                },
                scales: {
                    xAxes: [{
                        id: 'x-axis-1',
                        type: 'linear',
                        position: 'bottom',
                        display: true,
                        ticks: {
                            min: xtick_min,
                            max: xtick_max,
                        }
                    }],
                    yAxes: [{
                        ticks:{
                            min: ytick_min,
                            max: ytick_max,
                        }
                    }],
                }
            };

            var myLineChart = Chart.Line(canvas,{
                data:data,
                options:option
            });


            $(document).ready(function() {

                var socket = io.connect('http://' + document.domain + ':' + location.port + namespace);
                socket.on('connect', function() {
                    socket.emit('join',{room:myroom});
                });

                socket.on(ws_func, function(msg) {
                    if(data_count<xtick_max){
                        var i;
                        var data = msg.data;
                        for(i=0; i<data.length; i++){
                            myLineChart.data.datasets[0].data.push({y:Number(data[i]),x:data_count})
                            data_count++;
                            //myLineChart.update();
                        }
                        myLineChart.update();
                    }
                    else{
                        data_count=0;
                        myLineChart.data.datasets[0].data=[];
                    }
                });
            });
        </script>
    </body>
</html>
